<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
      
      <typeAlias alias="IAuthorFacadeService" type="WKT.Facade.Service.Interface.IAuthorFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="AuthorFacadeAPIService" type=" WKT.Facade.Service.AuthorFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="ILoginFacadeService" type="WKT.Facade.Service.Interface.ILoginFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="LoginFacadeAPIService" type=" WKT.Facade.Service.LoginFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="IExpertApplyFacadeService" type="WKT.Facade.Service.Interface.IExpertApplyFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="ExpertApplyFacadeAPIService" type="WKT.Facade.Service.ExpertApplyFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="IRoleAuthorFacadeService" type="WKT.Facade.Service.Interface.IRoleAuthorFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="RoleAuthorFacadeAPIService" type=" WKT.Facade.Service.RoleAuthorFacadeAPIService, WKT.Facade.Service" />
      
      <typeAlias alias="ISiteSystemFacadeService" type="WKT.Facade.Service.Interface.ISiteSystemFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="SiteSystemFacadeAPIService" type=" WKT.Facade.Service.SiteSystemFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="ISiteConfigFacadeService" type="WKT.Facade.Service.Interface.ISiteConfigFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="SiteConfigFacadeAPIService" type=" WKT.Facade.Service.SiteConfigFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="IContributionFacadeService" type="WKT.Facade.Service.Interface.IContributionFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="ContributionFacadeAPIService" type=" WKT.Facade.Service.ContributionFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="IAuthorPlatformFacadeService" type="WKT.Facade.Service.Interface.IAuthorPlatformFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="AuthorPlatformFacadeAPIService" type=" WKT.Facade.Service.AuthorPlatformFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="IFlowFacadeService" type="WKT.Facade.Service.Interface.IFlowFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="FlowFacadeService" type=" WKT.Facade.Service.FlowFacadeService, WKT.Facade.Service" />

      <typeAlias alias="IFinanceFacadeAPIService" type="WKT.Facade.Service.Interface.IFinanceFacadeAPIService, WKT.Facade.Service.Interface" />
      <typeAlias alias="FinanceFacadeAPIService" type=" WKT.Facade.Service.FinanceFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="IFinanceFacadeAPIService" type="WKT.Facade.Service.Interface.IFinanceFacadeAPIService, WKT.Facade.Service.Interface" />
      <typeAlias alias="FinanceFacadeAPIService" type=" WKT.Facade.Service.FinanceFacadeAPIService, WKT.Facade.Service" />

      <typeAlias alias="IIssueFacadeService" type="WKT.Facade.Service.Interface.IIssueFacadeService, WKT.Facade.Service.Interface" />
      <typeAlias alias="IssueFacadeAPIService" type=" WKT.Facade.Service.IssueFacadeAPIService, WKT.Facade.Service" />
      
    </typeAliases>
    <containers>
      <container name="ContainerService">
        <register type="IAuthorFacadeService" mapTo="AuthorFacadeAPIService">
          <lifetime type="singleton" />
        </register>
        <register type="ILoginFacadeService" mapTo="LoginFacadeAPIService">
          <lifetime type="singleton" />
        </register>
        <register type="IExpertApplyFacadeService" mapTo="ExpertApplyFacadeAPIService">
          <lifetime type="singleton" />
        </register>     
        <register type="IRoleAuthorFacadeService" mapTo="RoleAuthorFacadeAPIService">
          <lifetime type="singleton" />
        </register>
        <register type="ISiteSystemFacadeService" mapTo="SiteSystemFacadeAPIService">
          <lifetime type="singleton" />
        </register> 
        <register type="ISiteConfigFacadeService" mapTo="SiteConfigFacadeAPIService">
          <lifetime type="singleton" />
        </register>
        <register type="IContributionFacadeService" mapTo="ContributionFacadeAPIService">
          <lifetime type="singleton" />
        </register>
        <register type="IAuthorPlatformFacadeService" mapTo="AuthorPlatformFacadeAPIService">
          <lifetime type="singleton" />
        </register>
        <register type="IFlowFacadeService" mapTo="FlowFacadeService">
          <lifetime type="singleton" />
        </register>
        <register type="IFinanceFacadeAPIService" mapTo="FinanceFacadeAPIService">
          <lifetime type="singleton" />
        </register>
        <register type="IIssueFacadeService" mapTo="IssueFacadeAPIService">
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>
</configuration>