<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UploadFileExt>doc;docx;pdf</UploadFileExt>
  <ServiceUnityConfigPath>Config\unity.service.config</ServiceUnityConfigPath>
  <FacadeServiceUnityConfigPath>Config\unity.facade.service.config</FacadeServiceUnityConfigPath>
</BaseConfigInfo>
