@{
    ViewBag.Title = "Send";
}
@model WKT.Model.SiteConfigEntity
@{
    
}
<style type="text/css">
    body{ font-size:12px;}
    .l-table-edit {border:1px solid #bed5f3;border-collapse: collapse;width:100%}
    .l-table-edit-td-left{ padding:4px;text-align:right;width:90px;}
    .l-table-edit-td{ padding:4px;}
    .l-button-submit,.l-button-test{width:80px; float:left; margin-left:10px; padding-bottom:2px;}    
</style>
<div style="width: 98%; padding: 5px;">
    <form name="form1" method="post" id="form1">
    <table cellpadding="0" cellspacing="0" class="l-table-edit">
        <tr>
            <td align="right" class="l-table-edit-td-left">
                接收人类型：
            </td>
            <td align="left" class="l-table-edit-td">
                <input type="radio" id="ReciveType1" value="1" name="ReciveType" checked="checked" /><label for="ReciveType1">选择作者</label>
                <input type="radio" id="ReciveType2" value="2" name="ReciveType" /><label for="ReciveType2">输入手机号码</label>                              
            </td>           
        </tr>
        <tr>
            <td align="right" class="l-table-edit-td-left">
                <span style="color: Red">*</span><span id="spanTitle">接收人编号</span>：
            </td>
            <td align="left" class="l-table-edit-td">
               <span id="spanSelect"><input type="button" value="选择作者"  id="btnSelect"/>&nbsp;<input type="button" value="选择专家"  id="btnSelectExpert"/>&nbsp;<input type="button" value="选择成员"  id="btnSelectMember"/></span>
               <span id="spanMsg" style="color: Red;display:none">使用英文逗号(,)隔开<br /></span>
            </td>           
        </tr> 
        <tr>
            <td align="right" class="l-table-edit-td-left"></td>
            <td align="left" class="l-table-edit-td">
                <textarea cols="100" rows="4" class="l-textarea" id="txtUser" disabled="disabled" style="width: 400px"></textarea>
            </td>
        </tr>    
        <tr>
            <td align="right" class="l-table-edit-td-left">
                <span style="color: Red; ">*</span>短信内容：
            </td>
            <td align="left" class="l-table-edit-td" colspan="3">
                <span id="inputCount0">短信内容不得超过70个字，已输入</span><span id="inputCount" style="color: red;">0</span>个字符<br />
                <textarea cols="100" rows="4" class="l-textarea" id="txtContent" maxlength="70" style="width: 400px" onkeydown="return Ismaxlength('txtContent')"
                            onkeyup="return Ismaxlength('txtContent')" onchange="Ismaxlength('txtContent')"></textarea>
            </td>
        </tr>
        <tr>
          <td colspan="2" style="padding-left:15%;">
             <input type="button" value="发送(Send)" style="margin-top:10px;margin-bottom:10px;width:100px;" id="btnSend" class="l-button l-button-submit" />
          </td>
        </tr>
    </table>
    </form>
</div>
@section Scripts{   
    <script language="javascript" type="text/javascript">
        $(function () {
            $("form").ligerForm({ inputWidth: 300 });
            var objUser = $("#txtUser");
            $("#btnSelect").bind("click", function () { SelectAuthor(); });
            $("#btnSelectExpert").bind("click", function () { SelectExpert(); });
            $("#btnSelectMember").bind("click", function () { SelectMember(); });
            $("#btnSend").click(function () { SendSms(); });
            $("#ReciveType1").change(function () {
                if (!this.checked) return;
                objUser.val('');
                objUser.attr("disabled", "disabled");
                objUser.unbind("change");
                $("#spanSelect").css("display", "");
                $("#spanMsg").css("display", "none");
                $("#spanTitle").html('接收人编号');
            });
            $("#ReciveType2").change(function () {
                if (!this.checked) return;
                objUser.val('');
                objUser.removeAttr("disabled");
                objUser.bind("change", function () {
                    var val = $.trim($(this).val()), arry = val.split(','), str = '';
                    for (var i = 0; i < arry.length; i++) {
                        if (ValiSms(arry[i]))
                            str += arry[i] + ',';
                    }
                    if (str.length > 0)
                        str = str.substring(0, str.length - 1);
                    objUser.val(str);
                });
                $("#spanSelect").css("display", "none");
                $("#spanMsg").css("display", "");
                $("#spanTitle").html('接收手机');
            });
        });

        function Ismaxlength(id) {
            var obj = $("#" + id);
            var mlength = parseInt(obj.attr("maxlength"));
            if (obj.val().length > mlength)
                obj.val(obj.val().substring(0, mlength));
            $("#inputCount").html(obj.val().length);
        }

        function SelectAuthor() {
            $.ligerDialog.open({ height: 400, url: '@Html.RootPath()/member/SelDialog?isAll=1', title: '选择作者', width: 600, slide: false, buttons: [
                    { text: '确定', onclick: function (item, dialog) {
                        rows = dialog.frame.checkedExpert;
                        if (rows == "") { alert('请选择要添加的作者！'); return; }
                        var str = "," + $("#txtUser").val() + ",", appendStr = '';
                        for (i = 0; i < rows.length; i++) {
                            if (ValiSms(rows[i].Mobile)) {
                                if (i == (rows.length - 1)) {
                                    appendStr += rows[i].AuthorID;
                                }
                                else {
                                    appendStr += rows[i].AuthorID + ',';
                                }
                            }
                        }
                        $("#txtUser").append(appendStr);
                        dialog.close();
                    }
                    },
                    { text: '取消', onclick: function (item, dialog) { dialog.close(); } }
                    ]
            });
        }

        function SelectExpert() {
            $.ligerDialog.open({ height: 400, url: '@Html.RootPath()/Expert/SelDialog?isAll=1', title: '选择专家', width: 600, slide: false, buttons: [
                    { text: '确定', onclick: function (item, dialog) {
                        rows = dialog.frame.checkedExpert;
                        if (rows == "") { alert('请选择要添加的专家！'); return; }
                        var str = "," + $("#txtUser").val() + ",", appendStr = '';
                        for (i = 0; i < rows.length; i++) {
                            if (ValiSms(rows[i].Mobile)) {
                                if (i == (rows.length - 1)) {
                                    appendStr += rows[i].AuthorID;
                                }
                                else {
                                    appendStr += rows[i].AuthorID + ',';
                                }
                            }
                        }
                        $("#txtUser").append(appendStr);
                        dialog.close();
                    }
                    },
                    { text: '取消', onclick: function (item, dialog) { dialog.close(); } }
                    ]
            });
        }

        function SelectMember() {
            $.ligerDialog.open({ height: 400, url: '@Html.RootPath()/member/SelDialog', title: '选择成员', width: 600, slide: false, buttons: [
                    { text: '确定', onclick: function (item, dialog) {
                        rows = dialog.frame.checkedExpert;
                        if (rows == "") { alert('请选择要添加的成员！'); return; }
                        var str = "," + $("#txtUser").val() + ",", appendStr = '';
                        for (i = 0; i < rows.length; i++) {
                            if (ValiSms(rows[i].Mobile)) {
                                if (i == (rows.length-1)) {
                                    appendStr += rows[i].AuthorID;
                                }
                                else {
                                    appendStr += rows[i].AuthorID + ',';
                                }
                            }
                        }
                        $("#txtUser").append(appendStr);
                        dialog.close();
                    }
                    },
                    { text: '取消', onclick: function (item, dialog) { dialog.close(); } }
                    ]
            });
        }

        function SendSms() {
            var objUser = $("#txtUser"), user = $.trim(objUser.val());
            if (user.length < 1) {
                alert("请选择收信作者或者输入收信号码！");
                objTitle.focus();
                return;
            }
            var objTitle = $("#txtContent"), content = $.trim(objTitle.val());
            if (content.length < 1) {
                alert("请输入短信内容！");
                objTitle.focus();
                return;
            }
            if (!confirm("确认发送此短信吗？")) return;
            var saveParams = {
                MsgContent: content,
                IsAuthor: $("input[name='ReciveType']:checked").val() == "1",
                ReciveUserStr: $.trim($("#txtUser").val())
            };
            $.ajax({
                type: 'POST',
                url: '@Html.RootPath()/SmsTemp/SendSms/',
                data: saveParams,
                cache: false,
                success: function (data) {
                    alert(data.msg);
                    if (data.result == "success") {

                    }
                },
                error: function (xhr) {
                    alert('数据源访问错误' + '\n' + xhr.responseText);
                }
            });


        }

        function ValiSms(value) {
            var txt = $.trim(value);
            if (value.length == 0)
                return false;
            if (!/^(13|15|17|18|14)[0-9]{9}$/.test(txt))
                return false;
            return true;
        }
    </script>
}


