<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />

      <typeAlias alias="IAuthorDetailService" type="WKT.Service.Interface.IAuthorDetailService,WKT.Service.Interface" />
      <typeAlias alias="AuthorDetailService" type="WKT.Service.AuthorDetailService, WKT.Service" />

      <typeAlias alias="IAuthorInfoService" type="WKT.Service.Interface.IAuthorInfoService,WKT.Service.Interface" />
      <typeAlias alias="AuthorInfoService" type="WKT.Service.AuthorInfoService, WKT.Service" />

      <typeAlias alias="IExpertApplyService" type="WKT.Service.Interface.IExpertApplyService,WKT.Service.Interface" />
      <typeAlias alias="ExpertApplyService" type="WKT.Service.ExpertApplyService, WKT.Service" />

      <typeAlias alias="IContactWayService" type="WKT.Service.Interface.IContactWayService,WKT.Service.Interface" />
      <typeAlias alias="ContactWayService" type="WKT.Service.ContactWayService, WKT.Service" />

      <typeAlias alias="IDictService" type="WKT.Service.Interface.IDictService,WKT.Service.Interface" />
      <typeAlias alias="DictService" type="WKT.Service.DictService, WKT.Service" />

      <typeAlias alias="IDictValueService" type="WKT.Service.Interface.IDictValueService,WKT.Service.Interface" />
      <typeAlias alias="DictValueService" type="WKT.Service.DictValueService, WKT.Service" />

      <typeAlias alias="IGuestbookService" type="WKT.Service.Interface.IGuestbookService,WKT.Service.Interface" />
      <typeAlias alias="GuestbookService" type="WKT.Service.GuestbookService, WKT.Service" />

      <typeAlias alias="IMenuService" type="WKT.Service.Interface.IMenuService,WKT.Service.Interface" />
      <typeAlias alias="MenuService" type="WKT.Service.MenuService, WKT.Service" />

      <typeAlias alias="IRoleAuthorService" type="WKT.Service.Interface.IRoleAuthorService,WKT.Service.Interface" />
      <typeAlias alias="RoleAuthorService" type="WKT.Service.RoleAuthorService, WKT.Service" />

      <typeAlias alias="IRoleInfoService" type="WKT.Service.Interface.IRoleInfoService,WKT.Service.Interface" />
      <typeAlias alias="RoleInfoService" type="WKT.Service.RoleInfoService, WKT.Service" />

      <typeAlias alias="IRoleMenuService" type="WKT.Service.Interface.IRoleMenuService,WKT.Service.Interface" />
      <typeAlias alias="RoleMenuService" type="WKT.Service.RoleMenuService, WKT.Service" />

      <typeAlias alias="ISiteChannelService" type="WKT.Service.Interface.ISiteChannelService,WKT.Service.Interface" />
      <typeAlias alias="SiteChannelService" type="WKT.Service.SiteChannelService, WKT.Service" />

      <typeAlias alias="ISiteConfigService" type="WKT.Service.Interface.ISiteConfigService,WKT.Service.Interface" />
      <typeAlias alias="SiteConfigService" type="WKT.Service.SiteConfigService, WKT.Service" />

      <typeAlias alias="ISiteNoticeService" type="WKT.Service.Interface.ISiteNoticeService,WKT.Service.Interface" />
      <typeAlias alias="SiteNoticeService" type="WKT.Service.SiteNoticeService, WKT.Service" />

      <typeAlias alias="IAccessLogService" type="WKT.Service.Interface.IAccessLogService,WKT.Service.Interface" />
      <typeAlias alias="AccessLogService" type="WKT.Service.AccessLogService, WKT.Service" />

      <typeAlias alias="IFriendlyLinkService" type="WKT.Service.Interface.IFriendlyLinkService,WKT.Service.Interface" />
      <typeAlias alias="FriendlyLinkService" type="WKT.Service.FriendlyLinkService, WKT.Service" />

      <typeAlias alias="ISiteContentService" type="WKT.Service.Interface.ISiteContentService,WKT.Service.Interface" />
      <typeAlias alias="SiteContentService" type="WKT.Service.SiteContentService, WKT.Service" />

      <typeAlias alias="ISiteResourceService" type="WKT.Service.Interface.ISiteResourceService,WKT.Service.Interface" />
      <typeAlias alias="SiteResourceService" type="WKT.Service.SiteResourceService, WKT.Service" />

      <typeAlias alias="ISiteBlockService" type="WKT.Service.Interface.ISiteBlockService,WKT.Service.Interface" />
      <typeAlias alias="SiteBlockService" type="WKT.Service.SiteBlockService, WKT.Service" />

      <typeAlias alias="IMessageRecodeService" type="WKT.Service.Interface.IMessageRecodeService,WKT.Service.Interface" />
      <typeAlias alias="MessageRecodeService" type="WKT.Service.MessageRecodeService, WKT.Service" />

      <typeAlias alias="IMessageTemplateService" type="WKT.Service.Interface.IMessageTemplateService,WKT.Service.Interface" />
      <typeAlias alias="MessageTemplateService" type="WKT.Service.MessageTemplateService, WKT.Service" />

      <typeAlias alias="IContributeSetService" type="WKT.Service.Interface.IContributeSetService,WKT.Service.Interface" />
      <typeAlias alias="ContributeSetService" type="WKT.Service.ContributeSetService, WKT.Service" />

      <typeAlias alias="IEditorAutoAllotService" type="WKT.Service.Interface.IEditorAutoAllotService,WKT.Service.Interface" />
      <typeAlias alias="EditorAutoAllotService" type="WKT.Service.EditorAutoAllotService, WKT.Service" />

      <typeAlias alias="IFlowAuthAuthorService" type="WKT.Service.Interface.IFlowAuthAuthorService,WKT.Service.Interface" />
      <typeAlias alias="FlowAuthAuthorService" type="WKT.Service.FlowAuthAuthorService, WKT.Service" />

      <typeAlias alias="IFlowAuthRoleService" type="WKT.Service.Interface.IFlowAuthRoleService,WKT.Service.Interface" />
      <typeAlias alias="FlowAuthRoleService" type="WKT.Service.FlowAuthRoleService, WKT.Service" />

      <typeAlias alias="IFlowNodeConditionService" type="WKT.Service.Interface.IFlowNodeConditionService,WKT.Service.Interface" />
      <typeAlias alias="FlowNodeConditionService" type="WKT.Service.FlowNodeConditionService, WKT.Service" />

      <typeAlias alias="IFlowStatusService" type="WKT.Service.Interface.IFlowStatusService,WKT.Service.Interface" />
      <typeAlias alias="FlowStatusService" type="WKT.Service.FlowStatusService, WKT.Service" />

      <typeAlias alias="IFlowActionService" type="WKT.Service.Interface.IFlowActionService,WKT.Service.Interface" />
      <typeAlias alias="FlowActionService" type="WKT.Service.FlowActionService, WKT.Service" />

      <typeAlias alias="IFlowCirculationService" type="WKT.Service.Interface.IFlowCirculationService,WKT.Service.Interface" />
      <typeAlias alias="FlowCirculationService" type="WKT.Service.FlowCirculationService, WKT.Service" />

      <typeAlias alias="IContributionInfoService" type="WKT.Service.Interface.IContributionInfoService,WKT.Service.Interface" />
      <typeAlias alias="ContributionInfoService" type="WKT.Service.ContributionInfoService, WKT.Service" />

      <typeAlias alias="IFinanceContributeService" type="WKT.Service.Interface.IFinanceContributeService,WKT.Service.Interface" />
      <typeAlias alias="FinanceContributeService" type="WKT.Service.FinanceContributeService, WKT.Service" />

      <typeAlias alias="IFinancePayDetailService" type="WKT.Service.Interface.IFinancePayDetailService,WKT.Service.Interface" />
      <typeAlias alias="FinancePayDetailService" type="WKT.Service.FinancePayDetailService, WKT.Service" />

      <typeAlias alias="IPayNoticeService" type="WKT.Service.Interface.IPayNoticeService,WKT.Service.Interface" />
      <typeAlias alias="PayNoticeService" type="WKT.Service.PayNoticeService, WKT.Service" />

      <typeAlias alias="ISiteMessageService" type="WKT.Service.Interface.ISiteMessageService,WKT.Service.Interface" />
      <typeAlias alias="SiteMessageService" type="WKT.Service.SiteMessageService, WKT.Service" />

      <typeAlias alias="IIssueService" type="WKT.Service.Interface.IIssueService,WKT.Service.Interface" />
      <typeAlias alias="IssueService" type="WKT.Service.IssueService, WKT.Service" />

      <typeAlias alias="IReviewBillService" type="WKT.Service.Interface.IReviewBillService,WKT.Service.Interface" />
      <typeAlias alias="ReviewBillService" type="WKT.Service.ReviewBillService, WKT.Service" />

      <typeAlias alias="IReviewBillContentService" type="WKT.Service.Interface.IReviewBillContentService,WKT.Service.Interface" />
      <typeAlias alias="ReviewBillContentService" type="WKT.Service.ReviewBillContentService, WKT.Service" />

      <typeAlias alias="IIssueDownLogService" type="WKT.Service.Interface.IIssueDownLogService,WKT.Service.Interface" />
      <typeAlias alias="IssueDownLogService" type="WKT.Service.IssueDownLogService, WKT.Service" />

      <typeAlias alias="IIssueViewLogService" type="WKT.Service.Interface.IIssueViewLogService,WKT.Service.Interface" />
      <typeAlias alias="IssueViewLogService" type="WKT.Service.IssueViewLogService, WKT.Service" />

      <typeAlias alias="ITokenService" type="WKT.Service.Interface.ITokenService,WKT.Service.Interface" />
      <typeAlias alias="TokenService" type="WKT.Service.TokenService, WKT.Service" />

      <typeAlias alias="ILoginService" type="WKT.Service.Interface.ILoginService,WKT.Service.Interface" />
      <typeAlias alias="LoginService" type="WKT.Service.LoginService, WKT.Service" />
    </typeAliases>
    <containers>
      <container name="ContainerService">
        <register type="IAccessLogService" mapTo="AccessLogService">
          <lifetime type="singleton" />
        </register>
        <register type="IAuthorDetailService" mapTo="AuthorDetailService">
          <lifetime type="singleton" />
        </register>
        <register type="IAuthorInfoService" mapTo="AuthorInfoService">
          <lifetime type="singleton" />
        </register>
        <register type="IExpertApplyService" mapTo="ExpertApplyService">
          <lifetime type="singleton" />
        </register>
        
        <register type="IContactWayService" mapTo="ContactWayService">
          <lifetime type="singleton" />
        </register>
        <register type="IDictService" mapTo="DictService">
          <lifetime type="singleton" />
        </register>
        <register type="IDictValueService" mapTo="DictValueService">
          <lifetime type="singleton" />
        </register>
        <register type="IGuestbookService" mapTo="GuestbookService">
          <lifetime type="singleton" />
        </register>
        <register type="IMenuService" mapTo="MenuService">
          <lifetime type="singleton" />
        </register>
        <register type="IRoleAuthorService" mapTo="RoleAuthorService">
          <lifetime type="singleton" />
        </register>
        <register type="IRoleInfoService" mapTo="RoleInfoService">
          <lifetime type="singleton" />
        </register>
        <register type="IRoleMenuService" mapTo="RoleMenuService">
          <lifetime type="singleton" />
        </register>
        <register type="ISiteChannelService" mapTo="SiteChannelService">
          <lifetime type="singleton" />
        </register>
        <register type="ISiteConfigService" mapTo="SiteConfigService">
          <lifetime type="singleton" />
        </register>
        <register type="ISiteNoticeService" mapTo="SiteNoticeService">
          <lifetime type="singleton" />
        </register>
        <register type="IFriendlyLinkService" mapTo="FriendlyLinkService">
          <lifetime type="singleton" />
        </register>
        <register type="ISiteContentService" mapTo="SiteContentService">
          <lifetime type="singleton" />
        </register>
        <register type="ISiteResourceService" mapTo="SiteResourceService">
          <lifetime type="singleton" />
        </register>
        <register type="ISiteBlockService" mapTo="SiteBlockService">
          <lifetime type="singleton" />
        </register>
        <register type="IMessageRecodeService" mapTo="MessageRecodeService">
          <lifetime type="singleton" />
        </register>
        <register type="IMessageTemplateService" mapTo="MessageTemplateService">
          <lifetime type="singleton" />
        </register>
        <register type="IContributeSetService" mapTo="ContributeSetService">
          <lifetime type="singleton" />
        </register>
        <register type="IEditorAutoAllotService" mapTo="EditorAutoAllotService">
          <lifetime type="singleton" />
        </register>
        <register type="IFlowAuthAuthorService" mapTo="FlowAuthAuthorService">
          <lifetime type="singleton" />
        </register>
        <register type="IFlowAuthRoleService" mapTo="FlowAuthRoleService">
          <lifetime type="singleton" />
        </register>
        <register type="IFlowNodeConditionService" mapTo="FlowNodeConditionService">
          <lifetime type="singleton" />
        </register>
        <register type="IFlowStatusService" mapTo="FlowStatusService">
          <lifetime type="singleton" />
        </register>
        <register type="IFlowActionService" mapTo="FlowActionService">
          <lifetime type="singleton" />
        </register>
        <register type="IContributionInfoService" mapTo="ContributionInfoService">
          <lifetime type="singleton" />
        </register>
        <register type="IFinanceContributeService" mapTo="FinanceContributeService">
          <lifetime type="singleton" />
        </register>
        <register type="IFinancePayDetailService" mapTo="FinancePayDetailService">
          <lifetime type="singleton" />
        </register>
        <register type="IPayNoticeService" mapTo="PayNoticeService">
          <lifetime type="singleton" />
        </register>
        <register type="ISiteMessageService" mapTo="SiteMessageService">
          <lifetime type="singleton" />
        </register>
        <register type="IIssueService" mapTo="IssueService">
          <lifetime type="singleton" />
        </register>
        <register type="IFlowCirculationService" mapTo="FlowCirculationService">
          <lifetime type="singleton" />
        </register>
        <register type="IReviewBillService" mapTo="ReviewBillService">
          <lifetime type="singleton" />
        </register>
        <register type="IReviewBillContentService" mapTo="ReviewBillContentService">
          <lifetime type="singleton" />
        </register>
        <register type="IIssueDownLogService" mapTo="IssueDownLogService">
          <lifetime type="singleton" />
        </register>
        <register type="IIssueViewLogService" mapTo="IssueViewLogService">
          <lifetime type="singleton" />
        </register>
        <register type="ITokenService" mapTo="TokenService">
          <lifetime type="singleton" />
        </register>
        <register type="ILoginService" mapTo="LoginService">
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>
</configuration>