<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UploadFileExt>*.jpg;*.jpeg;*.gif;*.png;*.pdf;*.doc;*.docx;*.xls;*.xlsx;*.TXT;*.ZIP;*.RAR;*.7z</UploadFileExt>
  <UploadHtmExt>*.htm;*.html;*.mht</UploadHtmExt>
  <UploadImgExt>*.jpg;*.jpeg;*.gif;*.png</UploadImgExt>
  <UploadPath />
  <ContributePath>*.doc;*.rar;*.zip;*.7z;*.docx;*.pdf</ContributePath>
  <FigurePath>*.pdf;*.rar;*.zip;*.7z;*.jpg;*.gif;*.png;*.doc;*.docx</FigurePath>
  <PDFPath>*.pdf;*.rar;*.zip;*.7z</PDFPath>
  <IntroLetterPath>*.doc;*.rar;*.zip;*.docx;*.jpg;*.gif;*.png</IntroLetterPath>
  <QQ>304896996</QQ>
  <APIHost>http://localhost:3900/</APIHost>
  <APIPublicKey>
    &lt;RSAKeyValue&gt;&lt;Modulus&gt;s6lpjspk+3o2GOK5TM7JySARhhxE5gB96e9XLSSRuWY2W9F951MfistKRzVtg0cjJTdSk5mnWAVHLfKOEqp8PszpJx9z4IaRCwQ937KJmn2/2VyjcUsCsor+fdbIHOiJpaxBlsuI9N++4MgF/jb0tOVudiUutDqqDut7rhrB/oc=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;
  </APIPublicKey>
  <SiteName>药物分析杂志</SiteName>
  <IsFinance>0</IsFinance>
  <ReviewFeeText>50</ReviewFeeText>
  <PageFeeText>500</PageFeeText>
  <GaoFeeText1>0</GaoFeeText1>
  <GaoFeeText2>0</GaoFeeText2>
  <GaoFeeText3>15</GaoFeeText3>
  <ExpertReviewFee>50</ExpertReviewFee>
</SiteConfigInfo>