<div style="" id="notice_container" class="notice notice0">
	<div class="c">
        <a href="javascript:void(0)" id="noticeTip"><img src="@Html.RootPath()/content/icons/warning.png" style="vertical-align:middle;" alt="系统提示" title="系统提示" />系统提示：对不起，您没有访问该页面的权限！</a>
    </div>
</div>
@section Scripts{
}