<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Author" content="WKT" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>网刊通总控后台</title>
    <link href="/content/css/admin.global.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/admin.index.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/admin.content.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.dateformat.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.utils.js"></script>
    <script type="text/javascript" src="/Scripts/jBox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/Scripts/admin.js"></script>
</head>
<body>
@RenderBody()
@RenderSection("Scripts")
</body>
</html>
