<style type="text/css">
    img
    {
        vertical-align: middle;
    }
</style>
<div style="" id="notice_container" class="notice notice0">
    <div class="c">
        期刊标题：<input type="text" name="Title" class="txtbox" id="txtTitle" />&nbsp;
        作者姓名：<input type="text" name="Name" class="txtbox" id="txtName" />&nbsp;
        @Html.Raw(Html.SelectIssueYear("Year", "100px", string.Empty, string.Empty, "请选择年"))  
        <select id="Month" style="width:80px;margin-top:8px;">
            <option value="0">请选择月</option>
            <option value="1">1月</option>
            <option value="2">2月</option>
            <option value="3">3月</option>
            <option value="4">4月</option>
            <option value="5">5月</option>
            <option value="6">6月</option>
            <option value="7">7月</option>
            <option value="8">8月</option>
            <option value="9">9月</option>
            <option value="10">10月</option>
            <option value="11">11月</option>
            <option value="12">12月</option>
        </select>
        <span style="margin-left: 10px;">
            <input type="button" value="搜索" class="btnsearch" id="btnSearch" />&nbsp;
            <input type="button" value="重置" class="btnreset" id="btnReset" /></span>
    </div>
</div>
<div class="clear">
</div>
<div id="box">
    <div id="divList">
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var manager, DataQuery;
        $(function () {
            manager = $("#divList").ligerGrid({
                columns: [
            { display: '编号', name: 'ContentID', hide: true },
            { display: '文章标题', name: 'Title', width: '30%', align: 'left' },
            { display: '作者', name: 'RealName', width: '40%', align: 'left' },
            {display: '下载次数', name: 'DownLoadCount', width: '15%', align: 'center', render: function (item) {
                return '<a href="javascript:void(0)" onclick="ViewDetail(' + item.ContentID + ',\'' + item.Title + '\')">共下载' + item.DownLoadCount + '次</a>';
             }
            }
            ], width: '99.5%', height: '98%', rownumbers: true, usePager: true, checkbox: false, enabledSort: false,
                url: '@Html.RootPath()/Issue/GetIssueDownLogPageList', pageSize: 20
            });
            $("#btnReset").click(function () {
                $("#txtTitle").val("");
                $("#txtName").val("");
            });
            $("#btnSearch").click(function () {
                var params = GetParams();
                DataQuery = params;
                manager.setOptions({ parms: params });
                manager.loadData();
            });
        });

        function GetParams() {
            var params = {
                Title: $.trim($("#txtTitle").val()),
                RealName: $.trim($("#txtName").val()),
                Year: $("#Year").val(),
                Month: $("#Month").val()
            }
            return params;
        }

        function ViewDetail(ContentID, title) {
            $.ligerDialog.open({
                height: 500,
                width: 800,
                url: '@Html.RootPath()/Issue/IssueDownLoadDetail?ContentID=' + ContentID,
                title: '下载明细【' + title + '】',
                slide: false,
                buttons: [{ text: '关闭', onclick: function (item, dialog) { dialog.close(); } }]
            });
        }
    </script>
}
