<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" />
  </configSections>
  <connectionStrings>
    <!--<add name="MongoDB" connectionString="sxd:111abc@127.0.0.1:27017/WKTSystemLog" />
    <add name="WKTDB" connectionString="Data Source=122.112.70.190;Initial Catalog=NEW_WKTDB_2013_9_9_1;MultipleActiveResultSets=True;user id=whfTest;Password=hcmsadmin;Pooling=true;Max Pool Size=40000;Min Pool Size=0;Application Name=WKTAPI;"
      providerName="System.Data.SqlClient" />
    <add name="WKTDB" connectionString="Data Source=10.32.31.48;Initial Catalog=WKTDB;MultipleActiveResultSets=True;user id=sa;Password=111abc;Pooling=true;Max Pool Size=40000;Min Pool Size=0;Application Name=WKTAPI;"
      providerName="System.Data.SqlClient" />-->
    <add name="WKTDB" connectionString="Data Source=.;Initial Catalog=WKTDB2014_YWFXZZ_Test;MultipleActiveResultSets=True;user id=sa;Password=sa;Pooling=true;Max Pool Size=40000;Min Pool Size=0;Application Name=WKTAPI;"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MongoDBHost" value="127.0.0.1"/>
    <add key="MongoDBPort" value="27017"/>
    <add key="MongoDBUser" value="sxd"/>
    <add key="MongoDBPassword" value="111abc"/> 
    
    <add key="MongoDB" value="WKTSystemLog"/>
  </appSettings>
  <cachingConfiguration defaultCacheManager="CacheManager">
    <cacheManagers>
      <add name="CacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="10000" numberToRemoveWhenScavenging="50" backingStoreName="NullBackingStore"/>
    </cacheManagers>
    <backingStores>
      <add name="NullBackingStore" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
  </cachingConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>