<?xml version="1.0" standalone="yes"?>
<CacheConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Timeout>3600</Timeout>
  <!--memcached,entlib-->
  <CacheStrategy>entlib</CacheStrategy>
  <MemcacheServerList>127.0.0.1:12111</MemcacheServerList>
</CacheConfigInfo>
