<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
      
      <typeAlias alias="ISysAccountInfoService" type="WKT.Service.Interface.ISysAccountInfoService, WKT.Service.Interface" />
      <typeAlias alias="SysAccountInfoService" type="WKT.Service.SysAccountInfoService, WKT.Service" />
      <typeAlias alias="IApiServerInfoService" type="WKT.Service.Interface.IApiServerInfoService,WKT.Service.Interface" />
      <typeAlias alias="ApiServerInfoService" type="WKT.Service.ApiServerInfoService, WKT.Service" />
      <typeAlias alias="IDBServerInfoService" type="WKT.Service.Interface.IDBServerInfoService,WKT.Service.Interface" />
      <typeAlias alias="DBServerInfoService" type="WKT.Service.DBServerInfoService, WKT.Service" />
      <typeAlias alias="IJournalInfoService" type="WKT.Service.Interface.IJournalInfoService,WKT.Service.Interface" />
      <typeAlias alias="JournalInfoService" type="WKT.Service.JournalInfoService, WKT.Service" />
      <typeAlias alias="IJournalSetInfoService" type="WKT.Service.Interface.IJournalSetInfoService,WKT.Service.Interface" />
      <typeAlias alias="JournalSetInfoService" type="WKT.Service.JournalSetInfoService, WKT.Service" />
      
    </typeAliases>
    <containers>
      <container name="ContainerService">
        <register type="ISysAccountInfoService" mapTo="SysAccountInfoService">
          <lifetime type="singleton" />
        </register>
        <register type="IApiServerInfoService" mapTo="ApiServerInfoService">
          <lifetime type="singleton" />
        </register>
        <register type="IDBServerInfoService" mapTo="DBServerInfoService">
          <lifetime type="singleton" />
        </register>
        <register type="IJournalInfoService" mapTo="JournalInfoService">
          <lifetime type="singleton" />
        </register>
        <register type="IJournalSetInfoService" mapTo="JournalSetInfoService">
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>
</configuration>