<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UploadFileExt>.jpg;.jpeg;.gif;.png;pdf;.doc;.docx;.xls;.xlsx</UploadFileExt>
  <UploadPath></UploadPath>
  <APIHost>http://localhost:2900/</APIHost>
  <APIPublicKey>
    <![CDATA[
    <RSAKeyValue><Modulus>s6lpjspk+3o2GOK5TM7JySARhhxE5gB96e9XLSSRuWY2W9F951MfistKRzVtg0cjJTdSk5mnWAVHLfKOEqp8PszpJx9z4IaRCwQ937KJmn2/2VyjcUsCsor+fdbIHOiJpaxBlsuI9N++4MgF/jb0tOVudiUutDqqDut7rhrB/oc=</Modulus><Exponent>AQAB</Exponent></RSAKeyValue>
    ]]>
  </APIPublicKey>
  <SiteDomain>http://www.baidu.com</SiteDomain>
  <SiteID>20130926008</SiteID>
  <SiteName>灾害医学与救援</SiteName>
</SiteConfigInfo>